.panel.panel-default
  .panel-heading<
    About #{sitename}
  .panel-body
    :markdown
      #{sitename} is a quickly hacked up replacement for [iGoogle](http://en.wikipedia.org/wiki/IGoogle) 
      that [I wrote](http://github.com/benbasson/isomething) in a few hours.
      
      The name changes every time the page is reloaded because:
      
      1. naming things is hard, so I decided to skip it 
      2. it's a small tribute to [FireSomething](http://cosmicat.com/extensions/firesomething/),
         credited with the original idea and many of the animals in the list.
      
      There is basically just one feature - you can set the location for the weather forecast. Enjoy!