.panel.panel-default
  .panel-heading<
    BBC News Headlines
  .panel-body<
    %ul.nav.nav-stacked
      - news_entries.reject{|e| e.nil?}.each do |entry|
        - entry.sanitize!
        %li
          %a.newslink{href: entry.url, target: '_blank', title: entry.title, data: {summary: entry.summary, thumbnail: get_thumbnail(entry), container: 'body'}}
            = entry.title