.page-header
  %header.navbar.navbar-static-top
    .navbar-header
      %h2.text-muted< #{sitename}
      %h3.text-muted< iGoogle is dead, long live #{sitename}
    %nav.navbar.pull-right
      %ul.navbar-nav.nav.nav-pills
        %li
          %a{href: 'https://www.google.com/search'}
            %span.glyphicon.glyphicon-search
            Search
        %li
          %a{href: 'https://maps.google.com'}
            %span.glyphicon.glyphicon-globe
            Maps
        %li
          %a{href: 'https://www.google.com/imghp'}
            %span.glyphicon.glyphicon-picture
            Images
        %li
          %a{href: 'https://play.google.com'}
            %span.glyphicon.glyphicon-play
            Play
        %li
          %a{href: 'https://www.youtube.com'}
            %span.glyphicon.glyphicon-film
            YouTube
        %li
          %a{href: 'https://mail.google.com'}
            %span.glyphicon.glyphicon-envelope
            Gmail
        %li
          %a{href: 'https://calendar.google.com'}
            %span.glyphicon.glyphicon-calendar
            Calendar
.jumbotron
  %form{method: 'GET', action: 'https://www.google.co.uk/search'}
    .row
      .col-md-2.google-logo
        %img{src: '/images/google.png', width: '94', height: '37', alt: 'Google Search'}
      .col-md-9
        .input-group.input-group-lg
          %input.form-control{type: 'search', placeholder: 'Search', name: 'q'} 
          %span.input-group-btn
            %button.btn.btn-primary{type: 'submit'}
              %b.glyphicon.glyphicon-search
              %span.text-hide
                Search