.panel.panel-default
  .panel-heading<
    Quotes of the Day
  .panel-body.min-panel-height<
    %dl.quote-of-the-day
      - if !qotd_entries.nil?
        - qotd_entries.each do |entry|
          - entry.sanitize!
          %dt
            = entry.summary
          %dd
            %span
              = ' - '
            %a{href: entry.url, target: '_blank'}
              = entry.title