body {
  font-size: 13px;
}

header.navbar {
  margin: 0;
}
nav.navbar {
  margin-bottom: 5px;
  margin-top: 15px;
}
.page-header {
  border-bottom: 1px solid #DDD;
  margin-top: 20px;
  padding-bottom: 4px;
}
.page-header h2 {
  margin-bottom: 0;
}
.page-header h3 {
  font-size: 1em;
  margin: 0;
  padding: 0;
}
.popover {
  max-width: none !important;
  width: auto !important;
}
.news-popover-content {
  max-width: 450px;
}
.weather-popover-content {
  min-width: 500px;
  margin-top: 1em;
}
.newslink {
  padding: 0 !important;
}
.newslink-image {
  float: right; 
  margin: 0 0 12px 5px;
}
.quote-of-the-day {
  margin: 0;
}
.quote-of-the-day dt {
  font-weight: normal;
}
.quote-of-the-day dd {
  margin: 0 0 0 2em;
}
.weather-table {
  width: 100%;
  margin-top: -2px;
}
.weather-row {
  cursor: default;
}
.weather-row td {
  padding: 5px 2px;
}
.weather-row:hover {
  background-color: #EEE;
}
.label-weather {
  display: inline-block;
  width: 3.5em;
  font-size: 0.85em;
}
.forecast-text {
  display: inline-block;
  padding: 1em 1em 1em 0.5em;
}
.img-weather {
  margin-left: 0.2em;
  margin-right: 0;
}
#weather-config {
  cursor: pointer;
  color: #BBB;
}
#weather-config:hover {
  color: #888;
}
.modal-dialog {
  padding-top: 15% !important;
}
.min-panel-height {
  min-height: 290px;
}
.page-footer {
  border-top: 1px solid #DDD;
  margin-top: 0.5em;
  padding-top: 0.5em;
  font-size: 0.8em;
}
.page-footer .credits {
  float: right;
  text-align: right;
}
.page-footer .social {
  float: left;
}
.page-footer .social iframe {
  height: 50px !important;
}
.google-logo {
  text-align: right;
}
.weather-popover-content .full-text {
  display: inline;
}
.weather-popover-content .reduced-text {
  display: none;
}

/* Responsive goodness */
@media screen and (max-width: 991px) {
  .google-logo {
    text-align: left;
  }
  .min-panel-height {
    min-height: 0;
  }
  .clear-when-small {
    clear: both;
  }
  .navbar-header h2 {
    margin-top: 0;
  }
  nav.navbar {
    margin-bottom: 0;
    margin-top: 5px;
  }
}

@media screen and (max-width: 767px) {
  .weather-table {
    width: auto
  }
  .newslink {
    padding: 3px !important;
  }
}

@media screen and (max-width: 1100px) {
  .weather-popover-content {
    font-size: 0.8em;
    min-width: 400px !important;
  }
  .weather-popover-content table {
    width: auto;
  }
  .forecast-image-container img {
    width: 30px;
    height: 30px;
  }
  .weather-popover-content .full-text {
    display: none;
  }
  .weather-popover-content .reduced-text {
    display: inline;
  }
  .navbar-header {
    margin-top: 0;
  }
}

@media screen and (max-width: 500px) {
  .weather-popover-content {
    font-size: 0.7em;
    min-width: 0 !important;
    max-width: 320px;
  }
  .weather-popover-content table {
    width: auto;
  }
  .forecast-image-container img {
    width: 20px;
    height: 20px;
  }
}
